* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

div {
  height: 10vh;
  background-color: blue;
  border: 3px red solid;
  width: 40vw;
  display: inline-block;
}

div.relative {
  position: relative;
}

div.absolute {
  position: absolute;
  background-color: yellow;
}

div.static{
    position: static;
    display: inline-block;
}

div.fixed{
    background-color: purple;
    position: fixed;
    width: 20vw;
    height: ;

    p ~ p
}